<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About us</title>
    <link rel="icon" type="image" href="/static/images/favicon/favicon.ico">
    <link rel="stylesheet" href="/static/css/about-us.css">
</head>
<body>

    <div class="gradient-container">
        <div class="gradient-layer"></div>
        <div class="gradient-layer"></div>
        <div class="gradient-layer"></div>
    </div>
    <div class="noise"></div>

    <h1 id="text">About Us</h1>

    <iframe id="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6631.090482977603!2d151.0658734766958!3d-33.798239873253635!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b12a46996374d3d%3A0x977f29740713f70!2s1%20Lawrence%20St%2C%20West%20Ryde%20NSW%202114!5e0!3m2!1sen!2sau!4v1745308651554!5m2!1sen!2sau" width="1000" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" ></iframe>
    <form>
        <label for="first_name">First Name</label><br>
        <input type="text" id="first_name" name="first_name" required><br>
        <label for="last_name">Last Name</label><br>
        <input type="text" id="last_name" name="last_name" required><br>
        <label for="email">Email</label><br>
        <input type="email" id="email" name="email" required><br>
        <label for="message">Message</label><br>
        <textarea id="message" name="message" rows="4" cols="50" required style="resize: none;"></textarea><br>
        <input type="submit" value="Submit" id="submit">
    </form>


    <script src="/static/js/about-us.js"></script>
</body>
</html>