<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
    </style>

    <meta charset="UTF-8">
    <title>Website</title>
    <link rel="icon" type="image" href="/static/images/favicon/favicon.ico">
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
    <div class="gradient-container">
        <div class="gradient-layer"></div>
        <div class="gradient-layer"></div>
        <div class="gradient-layer"></div>
    </div>
    <div class="noise"></div>


    <script src="/static/js/index.js"></script>
    <p id="text1">placeholder</p>


</body>
</html>